USE [HiszpanskiDB]
GO
/****** Object:  StoredProcedure [dbo].[DodajKategorie]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DodajKategorie]
    @nazwa NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        INSERT INTO kategorie (nazwa)
        VALUES (@nazwa);
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas dodawania kategorii: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DodajSlowko]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DodajSlowko]
    @polski NVARCHAR(255),
    @hiszpanski NVARCHAR(255),
    @kategoria_id INT
AS
BEGIN
    BEGIN TRY
        INSERT INTO slowka (polski, hiszpanski, kategoria_id)
        VALUES (@polski, @hiszpanski, @kategoria_id);
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas dodawania słówka: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EdytujKategorie]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EdytujKategorie]
    @id INT,
    @nowaNazwa NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        UPDATE kategorie
        SET nazwa = @nowaNazwa
        WHERE id = @id;
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas edytowania kategorii: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EdytujSlowko]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EdytujSlowko]
    @id INT,
    @nowyPolski NVARCHAR(255),
    @nowyHiszpanski NVARCHAR(255),
    @nowaKategoria INT
AS
BEGIN
    BEGIN TRY
        UPDATE Slowka
        SET polski = @nowyPolski,
            hiszpanski = @nowyHiszpanski,
            kategoria_id = @nowaKategoria
        WHERE id = @id;
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas edycji słówka: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UsunKategorie]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsunKategorie]
	@id INT,
    @nazwa NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        DELETE FROM kategorie
        WHERE id = @id AND nazwa = @nazwa;
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas usuwania kategorii: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UsunSlowko]    Script Date: 30.01.2026 23:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsunSlowko]
    @polski nvarchar(255),
	@kategoria_id int
AS
BEGIN
    BEGIN TRY
        DELETE FROM Slowka WHERE polski = @polski AND kategoria_id = @kategoria_id;
    END TRY
    BEGIN CATCH
        PRINT 'Błąd podczas usuwania słówka: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
